.social-media{
    display: flex;
    justify-content: center;

}

.social-media a{

    font-size: 5rem;
}


@media (max-width:600px) {
    

    .social-media{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .social-media a{

        font-size: 3rem;
    }


}